{%extends "_helpers/_base.html" %}

{%  block title %}

    Пункти допомоги для переселенців
{%  endblock  %}

{%  block content %}
    <h3> Пункти допомоги для переселенців у  м.Днiпро</h3>
    <p> Де знайти пункти допомоги для переселенців у м.Дніпро, допомога з одягом, їжею...</p>
    <p> Ми зібрали для вас усю потрiбну інформацію</p>

    <ul>
        {% for point in object_list %}
            <li class="row my-elements-box">
            <span><h4>{{ point.name }} </h4></span>
                <p>{{ point.sect }}</p>
                <p>{{ point.created_at }}</p>
                <div class="col my-element-style">
                    <div class="my-element-content">

                        <span>
                        {% if point.address %}
                            <p>Адреса: {{ point.address }}</p>
                        {% endif %}
                        {% if point.phone %}
                            <p>Телефон: {{ point.phone }}</p>
                        {% endif %}
                        {% if point.link %}
                            <p>Ссилка: <a href="{{ point.link }}" target="_blank">{{ point.link }}</a></p>
                        {% endif %}
                        </span>

                    </div >

                    <div class="my-element-controls">
                        <a href="{% url 'project_functionality:update' pk=point.id %}">
                            <button class="btn btn-success">
                                Edit
                            </button>
                        </a>
                        <a href="{% url 'project_functionality:delete' pk=point.id %}">
                            <button class="btn btn-warning">
                                Delete
                            </button>
                        </a>

                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% include "project_functionality/paginator_include.html" %}
{% endblock %}