



{% load static %}

<!--    Sidebar слева -->
{% if sections %}
	<ul class="nav flex-column">
		{% if cat_selected == 0 %}
				<li class="selected">Усi категорii</li>
		{% else %}
				<li><a class="nav-link" href="{% url 'project_functionality:list' %}">Усi категорii</a></li>
		{% endif %}



		{% for section in sections %}

			{% if section.id == cat_selected %}


				<li class="selected">{{section.name_section}}</li>
			{% else %}
				<li><a class="nav-link" href="{{ section.get_absolute_url }}">{{section.name_section}}</a></li>

			{% endif %}
		{% endfor %}
	{% endif %}
</ul>
<!-- Sidebar слева -->

