{% extends '_helpers/_base.html' %}

{% block content %}

    <h1>Welcome to your profile, {{ object.username }}</h1>
    {% if user.avatar %}
        <img src="{{ user.avatar.url }}" alt="Avatar" width="150">
    {% endif %}

    {% if object.first_name %}
        <p>First name : {{ object.first_name }}</p>
    {% else %}
        <p>First name: "You can add this info"</p>
    {% endif %}

    {% if object.last_name %}
        <p>Last name : {{ object.last_name }}</p>
    {% else %}
        <p>Last name: "You can add this info"</p>
    {% endif %}

    <p>Email : {{ object.email }}</p>

    <div class="my-elements-controls">
        <a href="{% url 'user:update_u' pk=user.id %}">
            <button class="btn btn-success">
                    Edit account
            </button>
        </a>
    </div>
{% endblock %}