{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} home {% endblock %}</title>
    {# [connect_bootstrap]-[BEGIN] #}
    <link

            href="{% static 'bootstrap/css/bootstrap.min.css' %}"
            rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"

    >


    <link
            href="{% static 'styles/index.css' %}"
            rel="stylesheet"
    >

    <link rel="shortcut icon" type="image/x-icon" href="{% static './favicon/my_favicon.ico' %}">
    {# [connect_bootstrap]-[END] #}



</head>
<body>

<div class="container-fluid">
    {% include "_helpers/_header.html" %}
    {% block content %}{% endblock %}


    {% include "_helpers/_footer.html" %}
    <script
            src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"
            integrity="sha384-QH5XT0KWBc6EGZnm2UjXb5jKECjR2m5nHJGb2Ovg1S6Qf7wGOsm5LRV5IexC6PRR"
            crossorigin="anonymous"
>   </script>

</div>
</body>
</html>